<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createproker" method="POST">
        <label for="idc">Nomor Program:</label><br>
        <input type="number" name="noprog" id = "idc">
        <br>

        <label for="idc">Nama Program:</label><br>
        <input type="text" name="namaprog" id = "idc" maxlength="100">
        <br>

        <label for="nama">Surat Keterangan:</label><br>
        <input type="text" name="suket" id = "nama" maxlength="255">
        <br>

        <input type="submit" value="Buat Proker">
    </form>
</body>
</html>