<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Welcome, admin</h2>
    <a href="/logout">Logout</a>
    <table style="width:100%">
        <tr>
            <th>Nomor Program</th>
            <th>Nama Program</th>
            <th>Surat Keterangan</th>
            <th>Operations</th>
        </tr>
        {{range .Prokers}}
        <tr>
            <th>{{.NomorProgram}}</th>
            <th>{{.NamaProgram}}</th>
            <th>{{.SuratKeterangan}}</th>
            <th><a href="/edit"><input type="button" value="Edit / Delete"></a></th>
        </tr>
        {{end}}
    </table>
    <div class="vertical-center"></div>
    <a href="/create"><input type="button" value="Create New Proker"></a>
</body>

</html>