<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/loginprocess" method="POST">
        <label for="idc">Username:</label><br>
        <input type="text" name="username" id = "idc">
        <br>

        <label for="nama">Password:</label><br>
        <input type="password" name="password" id = "nama">
        <br>

        <input type="submit" value="Login">
    </form>
</body>
</html>